.service-item {
    position: relative;
    overflow: hidden;
  }
  .service-item:hover img {
    background-color: white;
  }
  .service-item img {
    transition: background-color 0.3s ease-in-out;
  }
 

.image-container {
  overflow: hidden;
}

.img-transition {
  transition: transform 0.3s ease;
}

.image-container:hover .img-transition {
  transform: scale(1.1); /* Adjust the scale value as needed */
}



.top-and-bottom, .left-and-right, .corner-border, .bottom-corner {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

}

/* vertical line */
.corner-border::after {
  content:'';
  position: absolute;
  background-color: #EECB5D;
  width: 8px;
  height: 44%;
  top: 0;
  left:0px;
 
}

/* horizontal line */
.corner-border::before{
  content:'';
  position: absolute;
  background-color: #EECB5D;
  width: 24%;
  height: 8px;
  top: 0;
  left:0px;
 
}

/* vertical line */
.relative .bottom-corner::after {
  content:'';
  position: absolute;
  background-color: #EECB5D;
  width: 8px;
  height: 44%;
  bottom: -63px;
  right:-32px;
 
}
/* horizontal line */
.bottom-corner::before {
  content:'';
  position: absolute;
  background-color: #EECB5D;
  width: 24%;
  height: 8px;
  bottom: -63px;
  right:-32px;
 
}
