.service-item {
    position: relative;
    overflow: hidden;
  }
  .service-item:hover img {
    background-color: white;
  }
  .service-item img {
    transition: background-color 0.3s ease-in-out;
  }
 

.image-container {
  overflow: hidden;
}

.img-transition {
  transition: transform 0.3s ease;
}

.image-container:hover .img-transition {
  transform: scale(1.1); /* Adjust the scale value as needed */
}
/* .gradient-border{
  border-inline-start:10px solid;
  border-block-start:10px solid;

  border-left-color: chocolate;
  border-image-sources:
  radial-gradient(
    circle at top left,
    
    transparent 50%);
  border-image-slice: 1;
  padding: 10px;
} */


.corner-border::after {
  content:'';
  position: absolute;
  background-color: #fcba03;
  width: 3px;
  height: 60%;
  top: 0;
  left:-15px;
 
}

/* horizontal line */
.corner-border::before{
  content:'';
  position: absolute;
  background-color: pink;
  width: 20%;
  height: 3px;
  top: 0;
  left:-12px;
 
}
